package router

import (
	"hubit-space/service/handler"
	"hubit-space/service/repository"

	"github.com/gin-gonic/gin"
	"gorm.io/gorm"
)

func SetupDocnumRouter(ctx *gin.Engine, db *gorm.DB) {
	repo := repository.NewDocnumRepository(db)
	handler := handler.NewDocnumHandler(repo)

	api := ctx.Group("/docnum")
	{
		api.POST("/get-last", handler.GetLastDocNumber)
	}
}
